.link-active {
    color: brown;
}

.link-noactive {
    color: black;
}

// .spinner {
//     border: 4px-solid rgba(0, 0, 0, .1);
//     border-left-color: #E3BCB5;
//     border-radius: 50%;
//     width: 36px;
//     height: 36px;

//     animation: spin 1s linear infinite;
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }
    
//     100% {
//         transform: rotate(360deg);
//     }
// }

.div-header {

    // background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;

    nav {
        width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.div-itemListContainer {

    // background-color: #E3BCB5;
    width: 1200px;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    .div-itemList {
        display: grid;
        grid-template-rows: 1fr 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 30px;
        

        .div-item {
            width: 200px;
            height: 275px;
            padding: 10px;
            border: 1px solid grey;
            text-align: center;

            img {
                width: 150px;
                border-radius: 50%;
                box-shadow: 0 5px 10px grey;
            }

            h4 {
                margin: 0;
                height: 40px;
            }

            div {
                margin: 0 10px 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    display: inline-block;
                    font-weight: bold;
                }

                a {
                    button {
                        border: none;
                        font-size: medium;
                        background-color: transparent;
                        cursor: pointer;
                    }

                    button:hover {
                        background-color: ghostwhite;
                        border: 1px solid grey;
                        border-radius: 50%;
                    }
                }
    
            }


        }
    }
}